In [1]:
import pandas as pd
import altair as alt
from outbreak_data import outbreak_data

In [2]:
from outbreak_tools import outbreak_tools

In [3]:
state_list = ['USA_US-WA', 'USA_US-CO', 'USA_US-MN', 'USA_US-LA']
states = '(' + " OR ".join(state_list) + ')'

In [4]:
states

'(USA_US-WA OR USA_US-CO OR USA_US-MN OR USA_US-LA)'

In [5]:
nopage = 'fetch_all=true&page=0'
covid19_endpoint = 'covid19/query'
args = f'q=location_id:{states}&sort=date&fields=date,confirmed_numIncrease,admin1&{nopage}'
df = outbreak_data.get_outbreak_data(covid19_endpoint, args, collect_all=True)

In [6]:
data = outbreak_data.cases_by_location(states)

In [8]:
data

,_id,_score,admin1,confirmed_numIncrease,date
0,USA_Minnesota_None2020-02-12,8.447602,Minnesota,0,2020-02-12
1,USA_Colorado_None2020-02-12,8.387950,Colorado,0,2020-02-12
2,USA_Louisiana_None2020-02-12,8.414929,Louisiana,0,2020-02-12
3,USA_Washington_None2020-02-12,8.428698,Washington,0,2020-02-12
4,USA_Minnesota_None2020-02-13,8.474809,Minnesota,0,2020-02-13
...,...,...,...,...,...
3495,USA_Minnesota_None2022-07-04,8.447602,Minnesota,0,2022-07-04
3496,USA_Washington_None2022-07-05,8.435659,Washington,0,2022-07-05
3497,USA_Louisiana_None2022-07-05,8.414929,Louisiana,4532,2022-07-05
3498,USA_Colorado_None2022-07-05,8.387950,Colorado,994,2022-07-05
3499,USA_Minnesota_None2022-07-05,8.332916,Minnesota,0,2022-07-05

In [9]:
data.iloc[1000:2000, :].tail(60)

,_id,_score,admin1,confirmed_numIncrease,date
1940,USA_Colorado_None2021-06-11,8.414929,Colorado,930,2021-06-11
1941,USA_Minnesota_None2021-06-11,8.332916,Minnesota,161,2021-06-11
1942,USA_Washington_None2021-06-11,8.435659,Washington,639,2021-06-11
1943,USA_Louisiana_None2021-06-11,8.414929,Louisiana,228,2021-06-11
1944,USA_Colorado_None2021-06-12,8.447602,Colorado,604,2021-06-12
1945,USA_Louisiana_None2021-06-12,8.471187,Louisiana,0,2021-06-12
1946,USA_Minnesota_None2021-06-12,8.474809,Minnesota,148,2021-06-12
1947,USA_Washington_None2021-06-12,8.435659,Washington,712,2021-06-12
1948,USA_Louisiana_None2021-06-13,8.471187,Louisiana,0,2021-06-13
1949,USA_Colorado_None2021-06-13,8.387950,Colorado,473,2021-06-13
1950,USA_Washington_None2021-06-13,8.386045,Washington,0,2021-06-13
1951,USA_Minnesota_None2021-06-13,8.447602,Minnesota,146,2021-06-13
1952,USA_Louisiana_None2021-06-14,8.366340,Louisiana,554,2021-06-14
1953,USA_Colorado_None2021-06-14,8.447602,Colorado,237,2021-06-14
1954,USA_Minnesota_None2021-06-14,8.447602,Minnesota,116,2021-06-14
1955,USA_Washington_None2021-06-14,8.435659,Washington,556,2021-06-14
1956,USA_Minnesota_None2021-06-15,8.447602,Minnesota,90,2021-06-15
1957,USA_Louisiana_None2021-06-15,8.414929,Louisiana,559,2021-06-15
1958,USA_Colorado_None2021-06-15,8.414929,Colorado,391,2021-06-15
1959,USA_Washington_None2021-06-15,8.435659,Washington,433,2021-06-15
1960,USA_Louisiana_None2021-06-16,8.414929,Louisiana,325,2021-06-16
1961,USA_Washington_None2021-06-16,8.386045,Washington,531,2021-06-16
1962,USA_Minnesota_None2021-06-16,8.332916,Minnesota,86,2021-06-16
1963,USA_Colorado_None2021-06-16,8.447602,Colorado,464,2021-06-16
1964,USA_Colorado_None2021-06-17,8.447602,Colorado,543,2021-06-17
1965,USA_Louisiana_None2021-06-17,8.414929,Louisiana,335,2021-06-17
1966,USA_Minnesota_None2021-06-17,8.332916,Minnesota,132,2021-06-17
1967,USA_Washington_None2021-06-17,8.386045,Washington,438,2021-06-17
1968,USA_Colorado_None2021-06-18,8.387950,Colorado,474,2021-06-18
1969,USA_Minnesota_None2021-06-18,8.447602,Minnesota,107,2021-06-18
1970,USA_Washington_None2021-06-18,8.435659,Washington,558,2021-06-18
1971,USA_Louisiana_None2021-06-18,8.366340,Louisiana,326,2021-06-18
1972,USA_Colorado_None2021-06-19,8.447602,Colorado,396,2021-06-19
1973,USA_Louisiana_None2021-06-19,8.414929,Louisiana,0,2021-06-19
1974,USA_Minnesota_None2021-06-19,8.332916,Minnesota,115,2021-06-19
1975,USA_Washington_None2021-06-19,8.435659,Washington,521,2021-06-19
1976,USA_Colorado_None2021-06-20,8.447602,Colorado,272,2021-06-20
1977,USA_Louisiana_None2021-06-20,8.366340,Louisiana,0,2021-06-20
1978,USA_Minnesota_None2021-06-20,8.332916,Minnesota,103,2021-06-20
1979,USA_Washington_None2021-06-20,8.435659,Washington,0,2021-06-20
1980,USA_Washington_None2021-06-21,8.386045,Washington,521,2021-06-21
1981,USA_Colorado_None2021-06-21,8.447602,Colorado,222,2021-06-21
1982,USA_Minnesota_None2021-06-21,8.332916,Minnesota,99,2021-06-21
1983,USA_Louisiana_None2021-06-21,8.471187,Louisiana,686,2021-06-21
1984,USA_Minnesota_None2021-06-22,8.447602,Minnesota,79,2021-06-22
1985,USA_Washington_None2021-06-22,8.386045,Washington,418,2021-06-22
1986,USA_Colorado_None2021-06-22,8.447602,Colorado,383,2021-06-22
1987,USA_Louisiana_None2021-06-22,8.471187,Louisiana,325,2021-06-22
1988,USA_Minnesota_None2021-06-23,8.474809,Minnesota,71,2021-06-23
1989,USA_Colorado_None2021-06-23,8.447602,Colorado,504,2021-06-23
1990,USA_Washington_None2021-06-23,8.428698,Washington,803,2021-06-23
1991,USA_Louisiana_None2021-06-23,8.366340,Louisiana,482,2021-06-23
1992,USA_Washington_None2021-06-24,8.435659,Washington,546,2021-06-24
1993,USA_Minnesota_None2021-06-24,8.332916,Minnesota,121,2021-06-24
1994,USA_Colorado_None2021-06-24,8.414929,Colorado,592,2021-06-24
1995,USA_Louisiana_None2021-06-24,8.414929,Louisiana,365,2021-06-24
1996,USA_Minnesota_None2021-06-25,8.332916,Minnesota,92,2021-06-25
1997,USA_Louisiana_None2021-06-25,8.471187,Louisiana,210,2021-06-25
1998,USA_Colorado_None2021-06-25,8.447602,Colorado,402,2021-06-25
1999,USA_Washington_None2021-06-25,8.386045,Washington,492,2021-06-25

In [ ]:
(data.iloc[0:1000, :].reset_index(drop=True, inplace=False) == data.iloc[1000:2000, :].reset_index(drop=True, inplace=False))

### Below is the distribution of locations when all data is collected (when collect_all = True)

In [ ]:
# base feature viz // amount of new covid cases
base = alt.Chart(data).mark_line().encode(
    x='date:T',
    y='confirmed_numIncrease:Q',
    color='admin1:N'
).interactive()

In [ ]:
# rules // added dates of popular tourism dates
rules = alt.Chart(pd.DataFrame({
  'date': ['2022-9-01', '2021-09-01', '2020-09-01'],
  'color': ['black', 'black', 'black']
})).mark_rule().encode(
  x='date:T',
  color=alt.Color('color:N', scale=None)
)

In [ ]:
rules + outbreak_tools.plot_increase(states)

In [ ]:
type(base) == alt.vegalite.v4.api.Chart

In [ ]:
location = 'USA_US-CA'
out = outbreak_data.get_outbreak_data('covid19/query',
                                f'location_id:{location}&sort=date&fields=date,confirmed_numIncrease,admin1&{outbreak_data.nopage}')

In [ ]:
out = outbreak_data.cases_by_location('GBR')

In [ ]:
out